
/* style.css */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #FFFFFF;
}

img {
    max-width: 100%;
    height: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}
footer {
    background-image: url('images/footer_background.jpg'); /* Add the path to your background image */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px;
    text-align: center;
}
footer p {
    display: flex;
    align-items: center;
    justify-content: center;
}
footer p img {
    margin-right: 10px;
}


/* Add media queries for responsive design */
@media (max-width: 768px) {
    body {
        padding: 0 10px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.75em;
    }

    p {
        font-size: 1em;
    }

    table {
        width: 100%;
        display: block;
        overflow-x: auto;
    }

    img {
        width: 100%;
        height: auto;
    }

    iframe {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    p {
        font-size: 0.875em;
    }
}
